<div class="limiter">
  <div class="nav-wrap">
    <div class="page-title">
      Dang nhap
    </div>
    <div class = "top-nav">
      <%= link_to 'Trang chu', '/users/' %> &nbsp; &nbsp;
      <%= link_to 'Dang ky', '/users/new' %>
    </div>
  </div>
  <div class="short-form-wrap">
    <div class="form-core">
      <div class="form-title">
      </div>
      <%= form_with model: @user, url: sessions_path, local: true do |form| %>
      <div class="form-label">
        <%= form.label :uid %>
      </div>
      <div class="form-input">
        <%= form.text_field :uid %>
      </div>
      <div class="form-label">
        <%= form.label :password %>
      </div>
      <div class="form-input">
        <%= form.text_field :password %>
      </div>        
      <div class="form-button">
        <%= form.submit "Dang nhap" %>
      </div>
      <% end %>
      <div class="bot-nav">
        <%= link_to 'Trang chu', '/users/' %> &nbsp; &nbsp;
        <%= link_to 'Dang ky', '/users/new' %>
      </div>
    </div>
  </div>
</div>