<div class="limiter">
  <div class="nav-wrap">
    <div class="page-title">
      Cap nhat thong tin
    </div>
    <div class = "top-nav">
      Xin chao, <%= @user.uid %>! &nbsp; &nbsp;
      <%= link_to 'Tro lai', user_showme_path(@user) %> &nbsp; &nbsp;
      <%= link_to 'Thoat',  session_path(@user), method: :delete %>
    </div>
  </div>
  <div class="form-wrap">
    <div class="form-core">
      <%= form_with model: @user, local: true do |form| %>
      <div class="form-label">
        <%= form.label :password %>
      </div>
      <div class="form-input">
        <%= form.text_field :password %>
        </div>
      <div class="form-label">
        <%= form.label :official %>
      </div>
      <div class="form-input">
        <%= form.text_field :official %>
      </div>
      <div class="form-label">
        <%= form.label :position %>
      </div>
      <div class="form-input">
        <%= form.text_field :position %>
      </div>
      <div class="form-label">
        <%= form.label :taxcode %>
      </div>
      <div class="form-input">
        <%= form.text_field :taxcode %>
      </div>
      <div class="form-label">
        <%= form.label :starttime %>
      </div>
      <div class="form-input">
        <%= form.text_field :starttime %>
      </div>
      <div class="form-label">
        <%= form.label :duetime %>
      </div>
      <div class="form-input">
        <%= form.text_field :duetime %>        
      </div>        
      <div class="form-button">
        <%= form.submit "Cap nhat" %>
      </div>
      <% end %>
      <div class="bot-nav">
        <%= link_to 'Tro lai', user_showme_path(@user) %>
      </div>
    </div>
  </div>
</div>
