<div class="limiter">
  <div class="nav-wrap">
    <div class="page-title">
      Danh sach tai khoan
    </div>
    <div class = "top-nav">
      <%= link_to 'Trang chu', users_path %>
    </div>
  </div>
  <div class="table-wrap">
    <table>
      <tr class="table-head">
        <th class = "column1">UID</th>
        <th class = "column2">Password</th>
        <th class = "column3">Chinh thuc</th>
        <th class = "column4">Vi tri</th>
        <th class = "column5">Ma so thue</th>
        <th class = "column6">Bat dau</th>
        <th class = "column7">Ket thuc</th>
        <th class = "column8">Tuy chon</th>
      </tr>
      <% @user.each do |user| %>
      <tr class="table-body">
        <td class = "column1"><%= user.uid %></td>
        <td class = "column2"><%= user.password %></td>
        <td class = "column3"><%= user.official %></td>
        <td class = "column4"><%= user.position %></td>
        <td class = "column5"><%= user.taxcode %></td>
        <td class = "column6"><%= user.starttime %></td>
        <td class = "column7"><%= user.duetime %></td>
        <td class = "column8"><%= link_to 'Xoa', user_path(user), method: :delete, data: { confirm: 'Chac chua?' } %></td>
      </tr>
      <% end %>  
    </table>
  </div>
</div>